@using Microsoft.AspNetCore.Components.Web
@using Taran.Shared.Dtos.Languages
@using Taran.Shared.Language
@using Taran.Shared.Languages
@namespace Taran.Shared.UI.Components.CustomizedQuickGrid

<div class="paginator">
    @if (State.TotalItemCount.HasValue)
    {
        <div class="summary">
            @if (SummaryTemplate is not null)
            {
                @SummaryTemplate
            }
            else
            {
                <text><strong>@State.TotalItemCount</strong> @translator.Translate(nameof(KeyWords.Items))</text>
            }
        </div>
        <nav role="navigation" class="ltr">
            <button class="go-first" type="button" @onclick="GoFirstAsync" disabled="@(!CanGoBack)" title="Go to first page" aria-label="Go to first page"></button>
            <button class="go-previous" type="button" @onclick="GoPreviousAsync" disabled="@(!CanGoBack)" title="Go to previous page" aria-label="Go to previous page"></button>
            <div class="pagination-text">
                @translator.Translate(nameof(KeyWords.Page)) <strong>@(State.CurrentPageIndex + 1)</strong>
                @translator.Translate(nameof(KeyWords.Of)) <strong>@(State.LastPageIndex + 1)</strong>
            </div>
            <button class="go-next" type="button" @onclick="GoNextAsync" disabled="@(!CanGoForwards)" title="Go to next page" aria-label="Go to next page"></button>
            <button class="go-last" type="button" @onclick="GoLastAsync" disabled="@(!CanGoForwards)" title="Go to last page" aria-label="Go to last page"></button>
        </nav>
    }
</div>
